.container{
	background-color:#CCCCB2;
}

.sidebar{
	background-color:#F0D1B2;
}
.footer{
	background-color:#EBD6FF;
	text-align: center;
}
.jumbotron{
	background-color:#F5EBFF;
}
.masef{
	background-color: #F0D1B2;
	font-family: tahoma;
}